    .ejs_new_button {
      bottom: 110px;
      left: 48%;
      transform: translateX(-100%);
      cursor: pointer;
      box-sizing: inherit;
      display: flex;
      justify-content: center;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      font-size: 19px;
      line-height: 45px;
      text-transform: uppercase;
      font-weight: bolder;
      position: relative;
      text-decoration: none;
      width: fit-content;
      padding-left: 30px;
      padding-right: 30px;
      white-space: nowrap;
      height: 45px;
      border: 0;
      color: #fff !important;
      border-radius: 35px;
      text-align: center;
      background-color: rgba(var(--ejs-primary-color), 1);
      box-shadow: 0 0 0 0 #222, 0 0px 0px 0 #111, inset 0 0px 0px 0 rgba(250, 250, 250, 0.2), inset 0 0px 0px 0px rgba(0, 0, 0, 0.5);
    }
    
    .ejs_new_button_border {
      border: 0.5px solid #333;
    }
    
    .ejs_new_button:active,
    .ejs_new_button:hover {
      animation: ejs_start_button_pulse 2s infinite;
    }
    
    @keyframes ejs_start_button_pulse {
      50% {
        box-shadow: 0 0 0 0 #222, 0 3px 7px 0 #111, inset 0 1px 1px 0 rgba(250, 250, 250, 0.2), inset 0 0px 15px 1px rgba(0, 0, 0, 0.5);
      }
      
      0%,
      100% {
        box-shadow: 0 0 0 0 #222, 0 0px 0px 0 #111, inset 0 0px 0px 0 rgba(250, 250, 250, 0.2), inset 0 0px 0px 0px rgba(0, 0, 0, 0.5);
      }
    }