.button-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 50;
  top: 10px;
  left: -80px;
  /* Initial off-screen position */
  animation: slide-in-wait-out 4s ease-in-out forwards 2s;
}

.toggle-button {
  display: none;
  /* Hides the checkbox */
}

.toggle-button+label {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 50%;
  background-color: #800000;
  color: white;
  padding: 8px 10px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.toggle-button+label:focus {
  outline: none;
  box-shadow: none;
}

.toggle-button+label:focus-visible {
  outline: 2px solid #fff;
  /* optional for accessibility */
}

/* button animations (May need to change translateX to translat3d so browser renders button on top) */
@keyframes slide-in-wait-out {

  /* Total duration = 4.0s */
  0% {
    transform: translateX(0);
  }
  
  12.5% {
    transform: translateX(90px);
    /* 0.5s to slide in */
  }
  
  87.5% {
    transform: translateX(90px);
    /* 3.0s to wait */
  }
  
  100% {
    transform: translateX(0);
    /* 0.5s to slide out */
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(90px);
  }
  
  100% {
    transform: translateX(0);
  }
}

.toggle-button+label img {
  width: 40px;
  height: auto;
}

.toggle-button+label:hover {
  background-color: #a00000;
  transform: scale(1.1);
}

.toggle-button:not(:checked)+label {
  background-color: #800000;
  transform: scale(1);
}

.toggle-button:checked+label {
  background-color: #a00000;
  transform: scale(1.1);
}

#toggle-button:checked~#book {
  left: 0;
  animation: rollIn;
  animation-duration: 0.7s;
}

#book-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#book {
  position: relative;
  width: 400px;
  height: 318px;
  left: -2200px;
  z-index: 40;
  transition: margin-left 0.2s ease-in-out, left 0.6s ease !important;
  -webkit-transition: margin-left 0.2s ease-in-out, left 0.6s ease !important;
}

@keyframes rollIn {
  from {
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
  
  to {
    transform: translate3d(1, 0, 0, 0);
  }
}

.rollIn {
  animation-name: rollIn;
}

@keyframes rollOut {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 1;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

.rollOut {
  animation-name: rollOut;
}

#page {
  height: 100%;
  width: 100%;
}

#page img {
  width: 100.5%;
  height: 100.5%;
  object-fit: cover;
}

.blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 30;
  touch-action: none;
}

@media (min-width: 1200px) {
  #book {
    width: 800px;
    height: 636px;
  }
}

 @media screen and (min-width: 600px) and (min-height: 600px) {
  #book {
    width: 600px;
    height: 477px;
  }
}
